@import url('https://fonts.googleapis.com/css2?family=Gabriela:wght@300;400&family=Poppins&family=Quicksand&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}
.navbar{
  background-color: black;
  opacity: 0.8;
 
  
}

body {
    --color-primary: #0d0e0d;
    --color-primary-dark: #070707;
    --color-secondary: #1c1d25;
    --border-radius: 4px;
    background: rgb(238, 236, 234);
    background: linear-gradient(200deg, #070707 15%, rgb(8, 8, 8) 80%);
    font-family: 'Gabriela', sans-serif;
}


.contacts {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  margin-top: 8%;
}

.contacts h1 {
  position: relative;
  top: 30px;
}
.text{
  margin-bottom: 20px;
}

.contact-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.form-control{
 
  color: #426408;
  background-color: #070707;
  
}
.form-control::placeholder{
  color: #426408;
  font-size: 1.5rem;
}
.input{
  margin-top: 30px;
  
}
.mytext{
  font-family: "Gabriela", "sans-serif";
}

.footer {
  background-color: black;
  padding: 40px 0px;
}

.address p {
  margin: 0px;
  color: #426408;
}

.opening {
  color: var(--bs-dark);
}

.social i {
  margin: 5px 10px;
  
}
