@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
    place-items: center;
}
body{
    background-image: url("./Images/svg.png");
    color: white;
    background-size: cover;
    background-position: center center;
    text-align: center;
    background-repeat: no-repeat;
}
::selection{
    background-color: lightgreen;
    color: #fff;
}
.wrapper{
    overflow: hidden;
  max-width: 390px;
  background: -webkit-linear-gradient(left, lightgreen, green);;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title-text{
    display: flex;
    width: 200%;
}