@import url('https://fonts.googleapis.com/css2?family=Gabriela:wght@100;400;500;800&display=swap');

@media screen and (min-width:468px) {
    .container {
        width: 100%;
    }}


* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Gabriela", sans-serif;
}
body {
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --border-radius: 4px;
    background: rgb(238, 236, 234);
    background: linear-gradient(200deg, #054914 15%, rgba(255,255,255,1) 80%);
    font-family: 'Gabriela', sans-serif;
}
.navbar{
    background-color: black;
    opacity: 0.8;
   
    
  }
  


  .head2{
    position: absolute; 
    color: white; 
    margin-left: 40%; 
    margin-top: -2%;
  }

h1{
    font-family: 'Gabriela', sans-serif;
    color: white;
}
.go-back {
  display: inline;
  
  

}
.go-back svg{
    margin-left: 90%;
    
    
 
}

.go-back img {
    width: 40px;
    height: 30px;
    margin-right: 20px;
    margin-top: 10px;
}




.go-back a{
    text-decoration: none;
    color: aliceblue;
   
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.message img {
    width: 300px;
}

.message p {
    font-size: 30px;
    padding: 20px;
    font-weight: 400;
}